body {
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-size: 14px !important;
}

body #background {
  position: fixed;

  background-color: #e5e5e5;

  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.s-alert-box {
  max-width: 50vw !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(255, 205, 177, 1);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: rgba(255, 221, 202, 1);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.no-gutters {
  margin-right: 0px;
  margin-left: 0px;

  > .col,
  > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
}
