#form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#form-login #blockForgotPassword {
    text-align: center;
}

#form-login #blockExternalServices {
    padding-top: 15px;
}

#form-login #blockClose {
    padding-top: 15px;
    text-align: center;
}